# Ignore node_modules in the root directory
node_modules/

# Ignore node_modules in the client directory
client/node_modules/

# Ignore node_modules in the server directory
server/node_modules/

*/.env

server/quill-blogs-firebase-adminsdk-dfmww-52fe1162bd.json